<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="template">

<head>
  <meta charset="UTF-8">
  <title>Confirmation d'annulation</title>
</head>

<body>
<div class="container" layout:fragment="contentForView">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Confirmation d'annulation</h1>
        <hr>

        <p>Votre demande d'annulation a été enregistrée avec succès.</p>
        <!-- Vous pouvez ajouter d'autres informations ou personnaliser le message de confirmation ici -->

      </div>
    </div>
  </div>
</div>
</body>

</html>
