<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="template">

<head>
  <meta charset="UTF-8">
  <title>Liste des Professeurs</title>
</head>

<body>
<div class="container" layout:fragment="contentForView">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Liste des professeurs</h1>
        <hr>

        <div class="float-end">
          <a th:href="@{/ajouter-professeur}" class="btn btn-outline-info">Ajouter</a>
        </div>

        <table class="table table-striped">
          <thead>
          <tr>

            <th scope="col">Nom & Prenom</th>
            <th scope="col">Specialité</th>
            <th scope="col">Grade</th>
            <th scope="col">Actions</th>


          </tr>
          </thead>
          <tbody>
          <tr th:each="prof: ${professeurList}">
            <td th:text="${prof.nomComplet}"></td>
            <td th:text="${prof.specialites}"></td>
            <td th:text="${prof.grades}"></td>
            <td>
              <a th:href="@{/professeur-cours(professeurId=${prof.id})}" class="btn btn-sm btn-outline-success">Mes Cours</a>

            </td>


          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</body>

</html>